/**
 * @license
 * MyFonts Webfont Build ID 3877566, 2020-03-08T06:32:53-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: TopicURW-Bol by URW Type Foundry
 * URL: https://www.myfonts.com/fonts/urw/topic/urw-topic-urw-t-bold/
 * Copyright: (URW)++,Copyright 2006 by (URW)++ Design &amp; Development
 *
 *
 *
 * © 2020 MyFonts Inc
*/

/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/3b2abe");

@font-face {
  font-family: 'URWTopic';
  font-weight: bold;
  font-style: normal;
  src:	url('fonts/3B2ABE_0_0.eot');
  src:	url('fonts/3B2ABE_0_0.eot?#iefix') format('embedded-opentype'),
      url('fonts/3B2ABE_0_0.woff2') format('woff2'),
      url('fonts/3B2ABE_0_0.woff') format('woff'),
      url('fonts/3B2ABE_0_0.ttf') format('truetype');
}
