html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
  font: normal 100%/1.5 system-ui, sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
}

h1, h2, h3, h4, h5, h6 {
  font-family: URWTopic;
  font-weight: bold;
  border-bottom: 1px solid var(--color-brand-blue);
}

img { width: auto; }

a,
a:active,
a:hover,
a:focus,
a:visited {
  color: var(--color-brand-blue);
}

a[aria-current] {
  font-weight: bold;

  @media forced-colors {
    underline: 2px solid
  }
}

summary {
  // TODO
  cursor: pointer;
}




@mixin list-inline() {
  display: inline;
}

@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin btn-reset() {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;

  // TODO
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
  background: var(--color-brand-blue);
  color: var(--color-brand-white);
  line-height: inherit;
  white-space: nowrap;
  text-decoration: none;

  &:focus:not(:focus-visible) {
    outline: none;
  }
  &:focus:not(:-moz-focusring) {
    outline: none;
  }
}
