/*
 *
 */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--color-brand-blue);
}

.page-wrapper {
  min-width: 310px;

  @media (min-width: $screen-md) {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
}

#skiplinks {
  // see _navigation.scss for design
}

/*
 *
 */

header {
  position: relative;
  height: calc(#{--slideshow-height}+50px);
  // height: 100px;
  // overflow: hidden;
  background-color: var(--color-background);

  .logo {
    position: absolute;
    top: 45px;
    right: 15%;
    z-index: 999;
    line-height: 0;
  }

  .nav-lang {
    // see _navigation.scss for design
  }
}

#rail-top,
#rail-left {
  // z-index: 990;
}

#rail-top{
  position: absolute;
  left: -202px;
  top: 40px;

  @media (min-width: $screen-md) {
    left: 0;
  }
}

#rail-left {
  display: none;
  top: calc(40px + 50px);
  left: 0;

  @media (min-width: $screen-lg) {
    display: inline;
    position: absolute;
  }
}



.slideshow--wrapper {
  // see _navigation.scss for design
}

.slideshow {
  // position: relative;
  // list-style: none;
  // margin: 0;
  // padding: 0;
  // height: var(--slideshow-height);
}

 #nav-mobile--btn {

    @media (min-width: $screen-lg) {
      display: none;
    }

    // see _navigation.scss for design
  }

  #nav-mobile--wrapper {
    display: none;

    &.js-open {
      display: block;
    }

    @media (max-width: calc(#{$screen-lg} - 1) ) {}

  }

  .nav-main,
  .nav-main-sub {
    display: none;

    @media (min-width: $screen-lg) {
      display: block;
    }
  }

  .slideshow--wrapper {
    // see _slideshow.scss for design
    /*ul*/ .slideshow {}

    /*figure*/ .slideshow--backup {}
  }

  main {}

    .nav-breadcrumb {}

  footer {}

    .address-wrapper {}

    .debug {
      opacity: .5;
      @media (min-width: 576px) {
        background-color: green;
      }
      @media (min-width: calc(768px + 1px)) {
        background-color: blue;
      }
      @media (min-width: 1200px) {
        background-color: pink;
      }


      &:hover {
        opacity: 1;
      }
    }
