/*
 * Navigation general
 */

nav {}

.nav-lang,
.nav-breadcrumb {
  ul, ol {
    @include list-reset;
  }

  li {
    @include list-inline;
  }
}


/*
 * Module: Skiplinks
 *
 * skip link by https://www.einfach-fuer-alle.de/
 * for Safari: use alt-tab or enable tab option in settings
 */

#skiplinks {
  // make invisible for sighted users
  position: absolute;
  top: 0;
  left: -9999px;
  z-index: 9999;
  height: 1px; // necessary for VoiceOver

  // design (make it your own)
  width: 100%;

  ul { @include list-reset }

  a {
    &:focus,
    &:active {
      position: absolute;
      top: 0;
      left: 9999px; // move to canvas

      // design
      outline: 0 none; // only for this special kind of links
      width: 100%;
      height: auto;
      padding: .25rem 0;
      color: var(--color-brand-white);
      background-color: var(--color-brand-blue);
      text-align: center;
      text-decoration: none;
    }

    // design
    @media (prefers-reduced-motion) {
      animation: none;
    }
  }
}


/*
 * Module: Navigation Language
 */

.nav-lang {
  ul {
    font-size: .8rem;
  }

  li {
    text-transform: uppercase;
  }

  a {text-decoration: none;}
}


/*
 * Module: Navigation Breadcrump
 */

.nav-breadcrumb {

  li {
    &::before {
      content: '›';
      color: var(--color-brand-blue);
      margin-right: .25rem;
    }

    &:first-of-type::before {
      content: none;
    }
  }

}


/*
 * Module: Navigation Language
 */

#nav-mobile--btn {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 9999;

  @include btn-reset;

  background-color: var(--color-brand-blue);
  min-height: 2rem;
  min-width: 2rem;
}
