/*
 * Module: Slideshow
 * ??? https://github.com/Accessible360/accessible-slick
 */

.slideshow--wrapper {}

.slideshow {
  @include list-reset;
  // position: relative;
  // list-style: none;
  // margin: 0;
  // padding: 0;
  // height: var(--slideshow-height);
}
.slideshow li {
  // position: absolute;
}
.slideshow figure {
  margin: 0;
  // position: relative;
  // margin: 0;
  // height: var(--slideshow-height);
  // width: auto;
  // overflow: hidden;
}
.slideshow figure figcaption {
  // position: absolute;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // font-weight: 600;
  // color: hsl(0, 0%, 0%);
  // background-color: hsla(0, 100%, 100%, .5);
}

.slideshow--backup img {}
