// SASS variables
$screen-sm: 576px; // Small tablets and large smartphones (landscape view)
$screen-md: 768px; // Small tablets (portrait view)
$screen-lg: 992px; // Tablets and small desktops
$screen-xl: 1200px; // Large tablets and desktops


:root {
  color-scheme: light dark;

  --color-brand-blue:			hsl(203, 100%, 29%); /* #005D97 */
  --color-brand-white:		hsl(0, 0%, 100%); /* #fff */

  --color-brand-grey-01:	hsl(200, 2%, 62%); /* #9C9E9F */
  --color-brand-grey-02:	hsl(200, 2%, 70%); /* #B1B3B4 */
  --color-brand-grey-03:	hsl(210, 2%, 78%); /* #C6C7C8 */
  --color-brand-grey-04:	hsl(210, 3%, 85%); /* #D9DADB */

  --color-brand-grey-dark:	hsl(220, 1%, 49%); /* #7B7C7E */

  --color-text:				    hsl(0, 0%, 20%);
  --color-background:			hsl(0, 0%, 96%);
  --color-background-50:	hsl(0, 0%, 96%,50%);

  --font-text:				    Corbel, ui-system, sans-serif;
  --font-headlines:       'URWTopic', ui-system, sans-serif;
  --font-size:            100%;
  --font-line-height:			1.5;
  --font-stack-text:			400 var(--font-size)/var(--font-line-height) var(--font-headlines);
  --font-stack-headline:	normal var(--font-size)/var(--font-line-height) var(--font-text);

  --slideshow-height:			400px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-brand-blue:			hsl(203, 100%, 40%); /* #007ECC 4.5: 007BC7*/
    --color-brand-grey-dark:	hsl(220, 1%, 49%);

    --color-text:				hsl(0, 0%, 85%);
    --color-background:			hsl(0, 0%, 23%);
    --color-background-50:			hsl(0, 0%, 96%,50%);
  }

  img {
    opacity: .5;
  }
    img:hover {
      opacity: 1;
    }
}

@media (forced-colors) {
  :root {
    --color-text:				CanvasText;
    --color-background:			Canvas;
  }
}

@media (prefers-reduced-motion: reduce) {} /* ready to use */
/* Full overview: https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries */

@supports (color: color(p3 0 0 0)) {}
