@import "_font"; // must be first entry
@import "_variables";
@import "_general"; // reset & mixins
@import "_layout";
@import "_navigation";
@import "_slideshow";

/* ========== Logo ========== */
.logo {
  svg { transform: scale(1.1); }
}

#babede-logo {}
  #babed-bgr { fill: var(--color-background); }

  #signet .device { fill: var(--color-brand-white ) }
  #signet .empty { fill: none }
    #signet-bgr-01 { fill: var(--color-brand-grey-01) }
    #signet-bgr-02 { fill: var(--color-brand-grey-02) }
    #signet-bgr-03 { fill: var(--color-brand-grey-03) }
    #signet-bgr-04 { fill: var(--color-brand-grey-04) }
    #signet-track { fill: var(--color-brand-blue) }

  #daimer  { fill: var(--color-brand-blue) }

  #line { fill: var(--color-brand-grey-dark) }

  #babed .brand-color { fill: var(--color-brand-grey-dark) }


#rail-top,
#rail-left, {
  .svg-colour-01 {fill:var(--color-brand-grey-04);}
  .svg-colour-02 {fill:var(--color-brand-white);}
  .svg-bgr {fill:var(--color-background);}

  @media (prefers-color-scheme: dark) {
    .svg-colour-01 {fill:var(--color-brand-grey-04);}
    .svg-colour-02 {fill:var(--color-brand-white);}
    .svg-bgr {fill:var(--color-background);}
  }
}

#icon-rail-profile {
  fill: var(--color-brand-blue);
}
